In [4]:
#1.
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#2.loc: Uses label-based indexing, referencing rows and columns by their labels or index names. Syntax: df.loc[row_labels, column_labels].

iloc: Uses integer-based indexing, referencing rows and columns by their integer positions. Syntax: df.iloc[row_positions, column_positions].

In [6]:
#3.
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

print("Output for new_df.loc[2]:")
print(new_df.loc[2])

print("\nOutput for new_df.iloc[2]:")
print(new_df.iloc[2])

Output for new_df.loc[2]:
column_1    0.156805
column_2    0.658457
column_3    0.528656
column_4    0.649841
column_5    0.867581
column_6    0.323595
Name: 2, dtype: float64

Output for new_df.iloc[2]:
column_1    0.714576
column_2    0.932802
column_3    0.644850
column_4    0.307061
column_5    0.199987
column_6    0.698763
Name: 1, dtype: float64

In [7]:
#4.
print("Mean of each column:")
print(df1.mean())

print("\nStandard deviation of column 'column_2':")
print(df1['column_2'].std())

Mean of each column:
column_1    0.563540
column_2    0.537666
column_3    0.552383
column_4    0.414401
column_5    0.302613
column_6    0.558677
dtype: float64

Standard deviation of column 'column_2':
0.24253108248430194

In [10]:
#5.
# Replacing data in the second row of column 'column_2'
df1.loc[2, 'column_2'] = "String Data"

# This will raise an error when calculating the mean due to the presence of string data in the column.
# Uncomment the following lines to see the error:
# print("Mean of column 'column_2' after replacing data:")
# print(df1['column_2'].mean())

The replacement of a numerical column's data with a string will prevent you from calculating the mean because the presence of non-numeric data (string) makes the column non-numeric. Uncommenting the lines will result in a TypeError.

#6.
Windows functions in pandas are used for performing calculations on a "window" of data, often over a rolling or expanding range. Common types of window functions include rolling mean, rolling sum, rolling standard deviation, etc.

In [11]:
#7.
import pandas as pd

current_date = pd.Timestamp.now()
print("Current month and year:", current_date.strftime("%B %Y"))

Current month and year: August 2023

In [13]:
#8.
import pandas as pd

date1 = pd.Timestamp(input("Enter the first date (YYYY-MM-DD): "))
date2 = pd.Timestamp(input("Enter the second date (YYYY-MM-DD): "))

time_difference = date2 - date1
days = time_difference.days
hours, remainder = divmod(time_difference.seconds, 3600)
minutes, seconds = divmod(remainder, 60)

print("Time difference:")
print(f"{days} days, {hours} hours, {minutes} minutes.")

Enter the first date (YYYY-MM-DD):  2023-08-11
Enter the second date (YYYY-MM-DD):  2023-11-4

Time difference:
85 days, 0 hours, 0 minutes.